name: entime
description: A mobile application for Entime project.
publish_to: none
homepage: https://github.com/Syutkin/entime-mobile
issue_tracker: https://github.com/Syutkin/entime-mobile/issues
repository: https://github.com/Syutkin/entime-mobile

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 0.5.2-dev+531

environment:
  sdk: ^3.10.0
  flutter: ^3.38.0

dependencies:
  any_date: ^1.2.1
  app_settings: ^6.1.1
  audioplayers: ^6.5.1
  bloc_concurrency: ^0.3.0
  bot_toast: ^4.1.3
  connectivity_plus: ^7.0.0
  crypto: ^3.0.7
  csv: ^6.0.0
  device_info_plus: ^12.2.0
  drift: ^2.29.0
#  ToDo: После полноценного релиза 7.0.0 проверить работу PopupProps.autocomplete
  dropdown_search: ^6.0.2
  equatable: ^2.0.7
  file_picker: ^10.3.6
#  filesize: ^2.0.1
  flutter:
    sdk: flutter
  flutter_bloc: ^9.1.1
  flutter_bluetooth_serial: ^0.4.0
  flutter_charset_detector: ^5.0.0
  flutter_localizations:
    sdk: flutter
  flutter_markdown: ^0.7.7+1
  flutter_ntp: ^0.0.2
  flutter_tts: ^4.2.3
  freezed_annotation: ^3.1.0
  http: ^1.6.0
  intl: ^0.20.2
  json_annotation: ^4.9.0
  logger: ^2.6.2
  material_design_icons_flutter: ^7.0.7296
  meta: ^1.17.0
  nested: ^1.0.0
  open_file: ^3.5.10
  # package_info_plus: any
  path: ^1.9.1
  path_provider: ^2.1.5
  permission_handler: ^12.0.1
  pub_semver: ^2.2.0
  rxdart: ^0.28.0
  sentry_flutter: ^9.8.0
  settings_ui: ^2.0.2
  share_plus: ^12.0.1
  shared_preferences: ^2.5.3
  sqlite3: ^2.9.4
  sqlite3_flutter_libs: ^0.5.40
  url_launcher: ^6.3.2
  wakelock_plus: ^1.4.0

dependency_overrides:
  flutter_bluetooth_serial:
    git: https://github.com/Syutkin/flutter_bluetooth_serial.git
  flutter_ntp:
    git: https://github.com/Syutkin/flutter_ntp
  settings_ui:
    #    path: ../flutter-settings-ui
    git:
      url: https://github.com/yako-dev/flutter-settings-ui
      ref: dev
  


dev_dependencies:
  bloc_test: ^10.0.0
  build_runner: ^2.10.3
  dart_style: ^3.1.3
  drift_dev: ^2.29.0
  flutter_lints: ^6.0.0
  flutter_test:
    sdk: flutter
  freezed: ^3.2.3
  integration_test:
    sdk: flutter
  json_serializable: ^6.11.1
  mocktail: ^1.0.4
  patrol: ^3.20.0
  patrol_finders: ^2.9.0
  test: ^1.26.3
  very_good_analysis: ^10.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/
    - CHANGELOG.md

flutter_intl:
  enabled: true
  class_name: GeneratedLocalization
  main_locale: ru
  arb_dir: lib/src/common/localization
  output_dir: lib/src/common/localization/generated
  use_deferred_loading: false

cider:
  link_template:
    tag: https://github.com/Syutkin/entime-mobile/releases/tag/%tag% # initial release link template
    diff: https://github.com/Syutkin/entime-mobile/compare/%from%...%to% # subsequent releases link template

patrol:
  app_name: entime
  android:
    package_name: site.syutkin.entime
